Early look into WR progression. </br>
And a kickoff to **From the Blocks** !! </br>
Yeehaw, baby!

In [38]:
# libraries
import pandas as pd
import numpy as np
import os
import re

In [55]:
# data load
path = '/Users/orly/Desktop/Swim Stats/WR Progression'
wr = pd.read_csv(os.path.join(path, 'WRProgression.csv'))

In [57]:
# new columns / data manipulation

# stroke and distance, extract from event column
wr[['Distance', 'Stroke']] = wr['Event'].str.split(' ', n = 1, expand = True)

In [62]:
print(wr.columns)

Index(['Rank', 'Event', 'Sex', 'Time', 'Set', 'Note', 'Name', 'Nationality',
       'Date', 'Meet', 'Location', 'Comments', 'Distance', 'Stroke'],
      dtype='object')

In [61]:
print(wr.head(5))

  Rank    Event Sex   Time       Set Note             Name    Nationality  \
0    1  50 Free   M  23.86  En Route  NaN    Jonty Skinner   South Africa
1    2  50 Free   M  23.74       NaN  NaN       Joe Bottom  United States
2    3  50 Free   M  23.72       NaN  NaN  Ron Manganiello  United States
3    4  50 Free   M  23.70       NaN  NaN  Klaus Steinbach   West Germany
4    5  50 Free   M  23.66       NaN  NaN  Chris Cavanaugh  United States

      Date                        Meet  \
0  8/14/76               AAU Nationals
1   7/3/77                  Canada Cup
2  7/29/78                           -
3  7/23/79                           -
4   2/2/80  International Invitational

                                    Location Comments Distance Stroke
0  Philadelphia, Pennsylvania, United States      NaN       50   Free
1                          Etobicoke, Canada      NaN       50   Free
2              Miami, Florida, United States      NaN       50   Free
3                     Freiburg, West Germany      NaN       50   Free
4                    Amersfoort, Netherlands      NaN       50   Free

In [20]:
# will be doing a lot of analysis for men and women separately
# save separate datasets now to make it easier later
wrm = wr[wr['Sex'] == 'M']
wrf = wr[wr['Sex'] == 'F']

In [21]:
# start simple
# separate M and F
# how many swimmers are there?

# break out
swimmer_count_m = wrm['Name'].nunique()
swimmer_count_f = wrf['Name'].nunique()

# total
swimmer_count = wr['Name'].nunique()

print('There are', swimmer_count, 'total swimmers,', swimmer_count_m, 'men and', swimmer_count_f, 'women.')

There are 552 total swimmers, 288 men and 264 women.

In [34]:
# how many records has each swimmer set?
# men
records_m = wrm[['Name', 'Nationality']].value_counts().reset_index()
print(records_m.head(10))

# women
records_f = wrf[['Name', 'Nationality']].value_counts().reset_index()
print(records_f.head(10))

                Name    Nationality  count
0     Michael Phelps  United States     29
1         Mark Spitz  United States     24
2     Roland Matthes   East Germany     16
3    Don Schollander  United States     14
4         Ian Thorpe      Australia     13
5      Aaron Peirsol  United States     13
6  Vladimir Salnikov   Soviet Union     13
7       John Hencken  United States     12
8       John Konrads      Australia     12
9    Stephen Holland      Australia     11
              Name    Nationality  count
0   Kornelia Ender   East Germany     24
1  Ragnhild Hveger        Denmark     15
2     Debbie Meyer  United States     15
3      Dawn Fraser      Australia     15
4    Katie Ledecky  United States     15
5  Donna de Varona  United States     13
6   Inge de Bruijn    Netherlands     12
7   Penelope Heyns   South Africa     11
8      Shane Gould      Australia     11
9    Satoko Tanaka          Japan     10

In [37]:
# records by country
# men
records_bycountry_m = wrm['Nationality'].value_counts().reset_index()
print(records_bycountry_m.head(10))

# women
records_bycountry_f = wrf['Nationality'].value_counts().reset_index()
print(records_bycountry_f.head(10))

     Nationality  count
0  United States    380
1      Australia    103
2          Japan     42
3   Soviet Union     33
4  Great Britain     26
5         France     23
6   East Germany     22
7        Hungary     20
8   West Germany     18
9         Russia     17
     Nationality  count
0  United States    253
1   East Germany    116
2      Australia     96
3    Netherlands     62
4        Germany     21
5   South Africa     20
6        Denmark     19
7         Sweden     18
8         Canada     16
9          China     16

In [ ]:
# swimmers with records in the most different events

In [ ]:
# shortest time between records in the same event

In [ ]:
# longest time between records in the same event

In [ ]:
# records set at Olympics vs. not